@model MovieDatabase.Web.ViewModels.Movies.MovieDetailsViewModel
@using MovieDatabase.Common


<div class="container">
    <div class="row bg-light text-dark">
        <h1>@Model.Title</h1>
        <div class="col-md-12 text-center">
            <h3 class="my-3">Movie Description</h3>
            <p class="text-break">@Model.Description</p>
            @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName) || this.User.Identity.Name == Model.UserUserName)
            {
                <form method="post" asp-controller="Movies" asp-action="Delete" id="deleteForm" asp-route-id="@Model.Id">
                </form>
                <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
            }
            <a class="btn btn-warning" asp-controller="Users" asp-action="UserMovies" asp-route-id="@Model.Id">User Movies</a>
            <a class="btn btn-primary" asp-controller="Reviews" asp-action="Details" asp-route-id="@Model.Id">Review</a>
            <a class="btn btn-info" asp-area="" asp-controller="Chats" asp-action="Chat" asp-route-id="@Model.Id">Chat</a>
            @if (this.User.Identity.Name == Model.UserUserName)
            {
                <a class="btn btn-info" asp-area="" asp-controller="Movies" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
            }
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal" id="deleteModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirm delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Do you really want to delete it ?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="deleteForm.submit()">Yes</button>
            </div>
        </div>
    </div>
</div>