@model MovieDatabase.Web.ViewModels.MyProfileViewModel
@foreach (var movie in Model.MyMovies)
{
    <h1 class="display-8">@movie.Title</h1>
    <div class="media-body">
        <h4 class="media-heading"><a asp-controller="Movies" asp-action="Details" asp-route-id="@movie.Id">@movie.Title</a></h4>
        <ul class="list-inline list-unstyled text-right">
            <li class="list-inline-item">
                <i class="fas fa-user-edit"></i> @movie.UserUserName
            </li>
            <li class="list-inline-item">
                <i class="fas fa-calendar-alt"></i> <time datetime="@movie.CreatedOn.ToString("O")"></time>
            </li>
            <li class="list-inline-item">
                <i class="fas fa-comment-dots"></i> @movie.CommentsCount comments
            </li>
        </ul>
    </div>
}