@model MovieDatabase.Web.ViewModels.Reviews.AllReviewsViewModel
@{
    this.ViewData["Title"] = "All my reviews";
}
<h4 class="text-light text-center">@this.ViewData["Title"]</h4>
<hr />
@foreach (var review in this.Model.Reviews)
{
    <div class="row">
        <div class="card col-md-12 mt-5">
            <div class="card-header">
                @review.MovieTitle
            </div>
            <div class="card-body">
                <p class="card-title">@review.CreatedOn.ToString("dd/MM/yyyy HH:mm:ss")</p>
                <p class="card-text">@review.SanitizedShortContent</p>
                <a asp-controller="Reviews" asp-action="Details" asp-route-id="@review.Id" class="btn btn-sm btn-primary">To @review.MovieTitle's description</a>
                <div id="votesCount"><i class="fas fa-heart"></i> @review.VotesCount votes</div>
            </div>
        </div>
    </div>
}
