@model MovieDatabase.Web.ViewModels.Comments.AllCommentsViewModel

@{
    this.ViewData["Title"] = "All my comments";
}
<h1>@this.ViewData["Title"]</h1>

@foreach (var comment in Model.Comments)
{
    <div class="card">
        <div class="card-header">
            @comment.MovieTitle
        </div>
        <div class="card-body">
            <h5 class="card-title">@comment.CreatedOn</h5>
            <p class="card-text">@comment.SanitizedShortContent</p>
            <a asp-controller="Reviews" asp-action="Details" asp-route-id="@comment.ReviewId" class="btn btn-primary">To Review</a>
        </div>
    </div>
}
