@model MovieDatabase.Web.ViewModels.Movies.MoviesViewModel

@foreach (var movie in Model.Movies)
{
    <div class="row bg-secondary text-light">
        <div class="media col-md-12 mt-5">
            <img class="mr-3" style="height:125px; width:125px;" src="@movie.ImageUrl" alt="@movie.Title">
            <div class="media-body text-break">
                <h5 class="mt-0">@movie.Title</h5>
                @movie.Description
            </div>
            <div>
                <a asp-controller="Movies" asp-action="Details" asp-route-id="@movie.Id" class="btn btn-sm btn-dark">Details</a>
            </div>
            <div><i class="fas fa-heart"></i> @movie.VotesCount votes</div>
        </div>
    </div>
}

@if (Model.MoviesCount > 0)
{
    <nav aria-label="...">
        <ul class="pagination justify-content-center">
            <li class="page-item @if (!Model.HasPreviousPage) { <text> disabled</text>}">
                <a class="page-link" asp-controller="Users" asp-action="UserProfile" asp-route-page="@Model.PreviousPageNumber">Previous</a>
            </li>
            @for (int i = Model.PageNumber - 3; i < Model.PageNumber; i++)
            {
                if (i > 0)
                {
                    <li class="page-item"><a class="page-link" asp-controller="Users" asp-action="UserProfile" asp-route-page="@i">@i</a></li>
                }
            }

            <li class="page-item active" aria-current="page">
                <span class="page-link">
                    @Model.PageNumber
                    <span class="sr-only">(current)</span>
                </span>
            </li>
            @for (int i = Model.PageNumber + 1; i <= Model.PageNumber + 3; i++)
            {
                if (i <= Model.PagesCount)
                {
                    <li class="page-item"><a class="page-link" asp-controller="Users" asp-action="UserProfile" asp-route-page="@i">@i</a></li>
                }
            }
            <li class="page-item @if (!Model.HasNextPage) { <text> disabled</text>}">
                <a class="page-link" asp-controller="Users" asp-action="UserProfile" asp-route-page="@Model.NextPageNumber">Next</a>
            </li>
        </ul>
    </nav>
}
else
{
    <p class="text-center">You have no movies added !</p>
}
