@model MovieDatabase.Web.ViewModels.Comments.AllCommentsViewModel

@{
    this.ViewData["Title"] = "All my comments";
}
<h4 class="text-light">@this.ViewData["Title"]</h4>

<div class="row">
    @foreach (var comment in Model.Comments)
    {
        <div class="card bg-light mt-5 bg-secondary col-md-4">
            <div class="card-header">
                @comment.MovieTitle
            </div>
            <div class="card-body">
                <p class="card-title">@comment.CreatedOn</p>
                <p class="card-text">@comment.SanitizedContent</p>
                <a asp-controller="Reviews" asp-action="Details" asp-route-id="@comment.ReviewId" class="btn btn-primary btn-sm">To Review</a>
            </div>
        </div>
    }
</div>
