@model MovieDatabase.Web.ViewModels.Movies.MoviesViewModel
@using MovieDatabase.Common

@{ this.ViewData["Title"] = GlobalConstants.SystemName; }

<div class="container-fluid content-row">
    <div class="row">
        <div class="card-deck bg-secondary">
            @foreach (var movie in Model.Movies)
            {
                    <div class="col-12 col-lg-4 mt-5">
                        <div class="card h-100">
                            <img class="card-img" src="@movie.ImageUrl" alt="@movie.Title">
                            <div class="card-body bg-info">
                                <h5 class="card-title"><i class="fas fa-heading"></i> @movie.Title</h5>
                                <small class="text-dark cat">
                                    <i class="fas fa-video"></i> @String.Join(" ", movie.MovieGenres)
                                </small>
                                <p class="card-text"><i class="fas fa-angle-double-right"></i> @movie.Quote</p>
                                <a asp-controller="Movies" asp-action="Details" asp-route-id="@movie.Id" class="btn btn-info">Details</a>
                            </div>
                            <div class="card-footer text-dark d-flex justify-content-between bg-info border-top-0">
                                <div class="views">
                                    <i class="far fa-calendar-alt"></i>@movie.CreatedOn.ToString("dd/MM/yyyy")
                                </div>
                                <div class="stats">
                                    <i class="far fa-heart"></i> @movie.VotesCount
                                    <i class="far fa-comment"></i> @movie.CommentsCount
                                </div>
                            </div>
                        </div>
                    </div>
            }
        </div>
    </div>
</div>